* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 950px;
    border: 2px solid #777;
    background-color: #fff;
}

header {
    background-color: #c4e4ed;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #777;
}

.logo-box {
    width: 200px;
    padding: 15px;
    border-right: 2px solid #777;
    display: flex;
    justify-content: center;
}

.logo-box img {
    height: 80px;
}

.header-text {
    flex-grow: 1;
    text-align: center;
}

.header-text h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

.main-layout {
    display: flex;
    min-height: 450px;
}

aside {
    width: 200px;
    border-right: 2px solid #777;
    padding: 20px 15px; /* Memberikan space putih di kanan dan kiri */
    text-align: center;
}

aside h3 {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.btn {
    display: block;
    background-color: #d10024; /* Warna merah */
    color: white;
    padding: 12px 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #000; /* Garis pembatas hitam */
    margin-bottom: -1px; /* Membuat border antar kotak menyatu (garis tunggal) */
}

main {
    flex-grow: 1;
    padding: 40px 60px;
}

main h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form-group label {
    width: 100px;
    font-size: 16px;
}

.form-group span {
    width: 20px;
}
